- content_for :title, 'Priority filters'
- content_for :action_bar do
  %span= link_to('Add a New Priority filter', new_priority_filter_path, class: 'add')

%table.filters
  %thead
    %tr
      %th.main= t('.description')
      %th Global?
  %tbody
    = render priority_filters
    - if priority_filters.none?
      %tr
        %td{:colspan => 4}
          %em
            = t('.no_filters')
            = link_to t('.click_to_create'), new_priority_filter_path
