- content_for :title, 'Exception Filters'
- content_for :action_bar do
  %span= link_to('Add a New Exception filter', new_exception_filter_path, :class => 'add')

%table.filters
  %thead
    %tr
      %th.main= t('.description')
      %th Matched
      %th Global?
  %tbody
    = render exception_filters
    - if exception_filters.none?
      %tr
        %td{:colspan => 4}
          %em
            = t('.no_filters')
            = link_to t('.click_to_create'), new_exception_filter_path
